---
import { CldUploadWidget, CldImage } from 'astro-cloudinary'
import Layout from '../layouts/Layout.astro'
---

<Layout title='HallowStick 🎃👻'>
  <main>
    <section class='bg-hero-halloween bg-cover bg-center px-4 w-full h-screen'>
      <div
        class='relative max-w-xl w-full h-full m-auto flex flex-col justify-center items-center animate-fade-up animate-once'
      >
        <h1 class='text-bunker-950 font-serif md:text-8xl text-4xl pb-2'>HallowStick</h1>
        <p class='text-center text-blue-zodiac-950 text-3xl mb-72 text-pretty rounded-lg'>
          Convierte tus imágenes o fotos en stickers únicos de Halloween
        </p>
      </div>
    </section>

    <section class='md:h-[600px] bg-custom-gradient'>
      <div class='-translate-y-16'>
        <h2 class='text-center text-3xl text-blue-zodiac-200 mb-14'>¡Selecciona tu estilo de sticker favorito!</h2>
        <ul class='options grid grid-cols-2 gap-2 md:flex md:gap-7 justify-center max-w-3xl w-full m-auto mb-12'>
          <li
            class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer'
          >
            <img src='/calabaza.webp' alt='Calabaza' width='250' class='w-[150px] md:w-[250px] object-cover' />
            <span class='text-2xl text-center text-blue-zodiac-200 block'>Calabaza</span>
          </li>
          <li
            class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer'
          >
            <img src='/bruja.webp' alt='Bruja' width='250' class='w-[150px] md:w-[250px] object-cover' />
            <span class='text-2xl text-center text-blue-zodiac-200 block'>Bruja</span>
          </li>
          <li
            class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer'
          >
            <img src='/fantasma.webp' alt='Fantasma' width='250' class='w-[150px] md:w-[250px] object-cover' />
            <span class='text-2xl text-center text-blue-zodiac-200 block'>Fantasma</span>
          </li>
          <li
            class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer'
          >
            <img src='/zoombie.webp' alt='Zombie' width='250' class='w-[150px] md:w-[250px] object-cover' />
            <span class='text-2xl text-center text-blue-zodiac-200 block'>Zombie</span>
          </li>
        </ul>

        <CldUploadWidget
          id='upload-widget'
          uploadPreset='upload-unsigned-images'
          class='hidden'
          options={{
            sources: ['local'],
            multiple: false,
            maxFiles: 1,
            language: 'es',
            text: {
              es: {
                or: 'O',

                menu: {
                  files: 'Subir desde tu dispositivo',
                },
                local: {
                  browse: 'Seleccionar',
                  dd_title_single: 'Arrastra tu imagen aquí',
                },
              },
            },
          }}
        >
          <button
            class='create-sticker animate-flip-up text-2xl block m-auto px-4 py-2 bg-bunker-200 text-bunker-900 rounded hover:scale-105 transition-all shadow-md'
            >Crea tu sticker</button
          >
        </CldUploadWidget>
      </div>
    </section>
  </main>
</Layout>

<script>
  const $options = document.querySelectorAll('.options li')
  const $widget = document.getElementById('upload-widget')

  if ($widget) {
    $widget.addEventListener('click', () => {
      console.log('click')
    })
  }

  if ($options) {
    $options.forEach(el => {
      console.log(el)
      el.addEventListener('click', event => {
        const target = event.currentTarget as HTMLElement
        cleanClass($options)

        target.classList.add('selected', 'bg-bunker-600', 'scale-105')
        if ($widget?.classList.contains('hidden')) {
          $widget.classList.remove('hidden')
        }
      })
    })
  }

  function cleanClass(options: NodeListOf<Element>) {
    options.forEach(el => {
      if (el.classList.contains('selected')) {
        el.classList.remove('selected', 'bg-bunker-600', 'scale-105')
      }
    })
  }
</script>
