---
import Layout from '../layouts/Layout.astro'
---

<Layout title='HallowStick 🎃👻'>
  <main>
    <section class='bg-hero-halloween bg-cover bg-center px-4 w-full h-screen'>
      <div class='relative max-w-xl w-full h-full m-auto flex flex-col justify-center items-center'>
        <h1 class='text-bunker-950 font-serif md:text-8xl text-4xl pb-2'>HallowStick</h1>
        <p class='text-center text-blue-zodiac-950 text-3xl mb-72 text-pretty rounded-lg'>
          Convierte tus imágenes o fotos en stickers únicos de Halloween
        </p>
      </div>
    </section>

    <section class='h-[600px] bg-custom-gradient'>Opciones</section>
  </main>
</Layout>
