---
import Layout from '../layouts/Layout.astro'
---

<Layout title='HallowStick 🎃👻'>
  <main>
    <section class='bg-hero-halloween bg-cover bg-center px-4 w-full mb-20 h-screen'>
      <h1 class='text-white md:text-8xl text-4xl'>HallowStick</h1>
    </section>
    <p>Convierte tus imágenes o fotos en stickers únicos de Halloween.</p>
  </main>
</Layout>
