---
import { getCldImageUrl } from 'astro-cloudinary/helpers'
import Layout from '../layouts/Layout.astro'

const { searchParams } = Astro.url
const id = searchParams.get('id')
const topic = searchParams.get('topic')

if (id == null || topic == null) return Astro.redirect('/')

const url = getCldImageUrl({ src: id })
console.log({ id, url })
---

<Layout title='Sticker HallowStick 🎃👻'>
  <main data-id={id} data-topic={topic}>
    <h2 class='text-2xl text-white'>Sticker</h2>
    <img id='preview' src={url} />
  </main>
</Layout>

<script>
  import { getCldImageUrl } from 'astro-cloudinary/helpers'

  const $main = document.querySelector('main') as HTMLElement
  const id = $main.getAttribute('data-id')
  const topic = $main.getAttribute('data-topic')
  const preview = document.getElementById('preview') as HTMLImageElement

  const TOPICS: Record<string, Record<string, string>> = {
    ghost: {
      prompt: 'Add playful cartoon ghosts in the background with a spooky yet whimsical vibe',
      logo: 'halloween-images/dyu8sfnsywve6grjgz8p',
    },
    zombies: {
      prompt: 'Add a horrifying zombies in the background with rotting flesh empty eyes and a twisted grin',
      logo: 'halloween-images/ce6jjddam8ibdtjmzsil',
    },
    pumpkin: {
      prompt: 'Add scary and terrifying pumpkins in the background for Halloween',
      logo: 'halloween-images/ax6n8dwar5u1zjbdwj5i',
    },
    witch: {
      prompt: 'Add witches in the background with a Halloween theme',
      logo: 'halloween-images/ze8unl3gwt7fr1vvzcj8',
    },
  } as const

  console.log({ id, topic })

  if (topic && id) {
    const url = getCldImageUrl({
      src: id,
      replaceBackground: TOPICS[topic].prompt,
      crop: {
        type: 'thumb',
        width: 512,
        height: 512,
        source: true,
        zoom: '1.0',
        gravity: 'center',
      },
      overlays: [
        {
          publicId: TOPICS[topic].logo,
          position: {
            gravity: 'north_west',
            angle: -20,
          },
          width: 100,
          height: 100,
        },
      ],
      replace: {
        to: 'Paint the person face with vibrant colors and intricate patterns resembling a Halloween mask or festival makeup',
        from: 'face',
      },
      border: '7px_solid_white',
      format: 'jpg',
    })

    console.log(url)

    preview.style.opacity = '.3'

    preview.src = url
    preview.onload = () => {
      preview.style.opacity = '1'
    }
  }
</script>
