<div id='examples' class='m-auto max-w-3xl mt-12 md:mt-20 mb-28'>
  <h3 class='font-serif text-5xl text-blue-zodiac-200 text-center mb-16'>Ejemplos</h3>
  <ul class='flex md:gap-2 gap-0 md:flex-nowrap flex-wrap justify-center'>
    <li
      class='md:-rotate-12 -rotate-6 md:translate-x-4 cursor-move hover:scale-105 transition-all relative z-10 shadow-md hover:shadow-blue-zodiac-200'
    >
      <img
        src='/examples/sticker-hallowstick-fantasma.jpg'
        alt='sticker fantasma'
        width='300'
        height='300'
        class='object-cover w-[300px]'
        loading='lazy'
      />
    </li>
    <li class='cursor-move hover:scale-105 transition-all shadow-md hover:shadow-blue-zodiac-200'>
      <img
        src='/examples/sticker-hallowstick-bruja.jpg'
        alt='sticker bruja'
        width='300'
        height='300'
        class='object-cover w-[300px]'
        loading='lazy'
      />
    </li>
    <li
      class='md:rotate-12 rotate-6 md:-translate-x-4 cursor-move hover:scale-105 transition-all shadow-md hover:shadow-blue-zodiac-200'
    >
      <img
        src='/examples/sticker-hallowstick-zombie.jpg'
        alt='sticker zombie'
        width='300'
        height='300'
        class='object-cover w-[300px]'
        loading='lazy'
      />
    </li>
  </ul>
</div>
