<footer class='mt-8 text-blue-zodiac-100 max-w-3xl m-auto w-full flex justify-center gap-2'>
  <p>
    Desarrollado con ❤️ por <a
      href='https://johnserrano.co/'
      target='_blank'
      class='text-hallow hover:opacity-90 transition-all'>John Serrano</a
    >
  </p>
</footer>
