<header class='md:max-w-3xl w-full m-auto px-3 py-8 relative z-20'>
  <nav>
    <ul
      class='text-white bg-bunker-950/50 md:max-w-max m-auto px-6 py-3 shadow rounded-lg text-3xl font-serif flex flex-wrap md:flex-nowrap gap-6 justify-center'
    >
      <li class='hover:text-hallow hover:scale-105 transition-all'><a href='/'>Inicio</a></li>
      <li class='hover:text-hallow hover:scale-105 transition-all'>
        <a href='/#examples'>Ejemplos</a>
      </li>
      <li class='hover:text-hallow hover:scale-105 transition-all'>
        <a href='/#create-sticker'>Crear sticker</a>
      </li>
      <li class='hover:text-hallow hover:scale-105 transition-all'>
        <a href='https://github.com/johnsi15/hallow-stick' target='_blank'>GitHub</a>
      </li>
    </ul>
  </nav>
</header>
