<header class='max-w-3xl w-full m-auto px-3 py-8'>
  <nav>
    <ul class='text-bunker-100 text-3xl font-serif flex gap-6 justify-center'>
      <li class='hover:text-hallow hover:scale-105 transition-all'><a href='/'>Inicio</a></li>
      <li class='hover:text-hallow hover:scale-105 transition-all'>
        <a href='/#examples'>Ejemplos</a>
      </li>
      <li class='hover:text-hallow hover:scale-105 transition-all'>
        <a href='/#create-sticker'>Crear sticker</a>
      </li>
      <li class='hover:text-hallow hover:scale-105 transition-all'>
        <a href='https://github.com/johnsi15/hallow-stick' target='_blank'>GitHub</a>
      </li>
    </ul>
  </nav>
</header>
