<h2 class='text-center text-3xl text-blue-zodiac-200 mb-14'>¡Selecciona tu estilo de sticker favorito!</h2>
<ul class='options grid grid-cols-2 gap-4 md:flex md:gap-7 justify-center md:max-w-3xl md:w-full md:mx-auto mx-3 mb-12'>
  <li
    class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer md:block flex flex-col items-center justify-center'
    data-topic='pumpkin'
  >
    <img src='/calabaza.webp' alt='Calabaza' width='250' class='w-[130px] md:w-[250px] object-cover' />
    <span class='text-2xl text-center text-blue-zodiac-200 block'>Calabaza</span>
  </li>
  <li
    class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer md:block flex flex-col items-center justify-center'
    data-topic='witch'
  >
    <img src='/bruja.webp' alt='Bruja' width='250' class='w-[130px] md:w-[250px] object-cover' />
    <span class='text-2xl text-center text-blue-zodiac-200 block'>Bruja</span>
  </li>
  <li
    class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer md:block flex flex-col items-center justify-center'
    data-topic='ghost'
  >
    <img src='/fantasma.webp' alt='Fantasma' width='250' class='w-[130px] md:w-[250px] object-cover' />
    <span class='text-2xl text-center text-blue-zodiac-200 block'>Fantasma</span>
  </li>
  <li
    class='bg-bunker-800 px-4 py-2 rounded-md md:hover:scale-105 hover:bg-bunker-600 transition-all cursor-pointer md:block flex flex-col items-center justify-center'
    data-topic='zombies'
  >
    <img src='/zoombie.webp' alt='Zombie' width='250' class='w-[130px] md:w-[250px] object-cover' />
    <span class='text-2xl text-center text-blue-zodiac-200 block'>Zombie</span>
  </li>
</ul>
